* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(76, 126, 42);
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

textarea {
    width: 50vw;
    height: 20vh;
    margin: 20px;
    background-color: khaki;
}

button {
    background-color: khaki;
}